<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring01_02:war exploded">
    <output-path>$PROJECT_DIR$/spring01_02/target/spring01_02</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring01_02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring01_02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.22.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.22.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.22.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.22.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.22.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.22.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring01_02/target/spring01_02/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring01_02/web/Web" />
    </root>
  </artifact>
</component>